.video {
  height: 250px;
  width: 300px;
  position: relative;
  top: 50%;
  left: 40%;
}

.payment_section {
  padding-bottom: 100px;
}
.heading {
  font-size: 2.5rem !important;
  font-family: var(--font-1);
  font-weight: 600;
}

.para_text {
  font-size: 1.3rem;
}

.btn {
  position: relative;
  left: 47%;
  padding: 10px 20px;
  font-weight: 700;
  background-color: rgb(242, 67, 67) !important;
  color: white;
  border: none;
  border-radius: 10px;
}

.lottitCancel {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.cancelAnimation {
  margin-top: 20px;
  height: 150px;
  width: 150px;
}
