.Latest_product {
  font-family: var(--font-1);
}

/* .Category {
  min-height: 200px;
  max-width: auto;
  width: 100%;
  padding: 10px 50px;
  background-color: rgb(232, 232, 238);
  position: relative;
} */
