body {
  background-color: rgb(244, 244, 244);
}
.heading {
  font-size: 3rem !important;
  font-family: var(--font-1);
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}
/* .display {
  display: grid !important;
} */
.image {
  height: 140px;
  width: 145px;
  border-radius: 10px;
}
.card {
  /* width: 400px; */
  display: flex;
  margin-top: 20px;
}
.details_section {
  width: 260px;
  padding-left: 10px;
}

.btn {
  background-color: rgb(249, 249, 249);
  color: black;
  border-radius: 5px;
  padding: 10px;
  width: 120px;
  font-weight: bold;
  height: 40px;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0px;
}

.price {
  font-family: var(--font-Calistoga--1);
  font-size: 1.3rem;
  margin-top: 0px;
}
.deleteBtn {
  /* position: absolute; */
  cursor: pointer;
}
