.Prodcuts_container_div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 500px;
}

@media (max-width: 970px) {
  .Prodcuts_container_div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
