.login_section {
  padding: 0px;
}

/* Glassmorphism card effect */
.card {
  border-radius: 12px;
  border: 1px solid rgba(9, 9, 9, 0.43);
  color: black;
  border-radius: 7px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fontsize1 {
  margin-top: 5px;
  font-size: 1rem;
  color: rgb(155, 151, 151);
}

.dosisFOnt {
  font-family: var(--font-dosis);
  font-size: 1.2rem;
}

.login_section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card input {
  width: 280px;
  height: 45px;
  border-radius: 7px;
  padding-left: 10px;
  font-weight: 500;
  border: 2px solid lightgray;
  background-color: white;
  color: black;
}

.loginBtn {
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  height: 45px;
  font-size: 1rem;
  width: 280px;
}
