:global(.react-multiple-carousel__arrow) {
  background-color: black;
  color: white;
  position: absolute;
  margin-top: 5px;
}

@media (max-width: 500px) {
  .carousel {
    margin-top: 38px;
    font-size: 0.9rem;
  }
}
