:global(.react-multiple-carousel__arrow) {
  background-color: black;
  color: white;
  position: absolute;
}

.carousel {
  margin-top: 30px !important;
}

@media (max-width: 500px) {
  .carousel {
    font-size: 0.9rem;
  }
}
