.payment_section {
  padding-bottom: 100px;
}

.para_text {
  font-size: 1.3rem;
}

.btn {
  position: relative;
  padding: 10px;
  font-weight: 500;
  background-color: #3abc5e;
  color: black;
  border: none;
  border-radius: 5px;
  font-family: var(--font-Calistoga--1);
}
