.cartItemDetail {
  height: 130px;
  border-radius: 10px;
  display: flex;
  font-family: var(--font-Robot);
  font-weight: 500;
  background-color: white !important;
}



.elementTitle {
  width: 300px;
  text-overflow: wrap;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 5400;
}
.QuattityNumber_section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 234, 238);
  width: 50px;
  height: 25px;
  font-size: 1.2rem;
}
