.image {
  width: 150px;
  height: 150px !important;
}
/* .image_div {
  /* background-color: var(--color-skyBlue-light-1); */

.card {
  height: 210px;
  width: 180px;
  font-family: var(--font-1);
  text-align: center;
}
.name {
  font-size: 1.3rem;
  font-weight: 600;
}

@media (max-width: 760px) {
  .card {
    margin-left: 0px;
  }
}

@media (max-width: 701px) {
  .card {
    height: 100%;
    width: 90%;
  }

  .image_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 451px) {
  .card {
    height: 100%;
    width: 100%;
  }

  .image_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
